<!-- Footer -->
<style>
  .page-footer {
    background-color: #48689a;
  }
</style>
<footer class="page-footer font-small teal pt-4 text-white mt-5 text-left">
  <!-- Footer Text -->
  <div class="container-fluid">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 mt-md-0">
        <div class="row ml-2"><h5 class="text-uppercase font-weight-bold mr-4">(주)고릴라밤</h5><a href="/home/policy" class="text-white font-weight-bold">이용약관</a></div>
        <small>대표: 박영록&nbsp;&nbsp;&nbsp;개인정보관리책임자: 박진배&nbsp;&nbsp;&nbsp;사업자등록번호: 746-87-01862&nbsp;&nbsp;&nbsp;통신판매업: 제 2020-서울관악-0709호</small><br>
        <small>사업장소재지: 서울특별시 관악구 남부순환로 1830, 2층&nbsp;&nbsp;&nbsp;전화: 050713293087&nbsp;&nbsp;&nbsp;이메일: gorillabombb@gmail.com</small><br>
      </div>
    </div>
  </div>
  <!-- Footer Text -->
  <small>
    <div class="footer-copyright py-2 ml-3">© 2020 Copyright:
      <a href="http://gorillabomb.cafe24.com/" class="text-white"> Move More</a>
    </div>
  </small>

</footer>
<!-- Footer -->
