<% if @result %>
  <% if @data_type != "direct_complete" %>
    // $(".modal").find(".close").click();
    // // Rails.fire($("#cart")[0], "submit");
    // setTimeout(function(){
    //   $("form").find(".submit_btn").click();
    // }, 500);
    // Swal.fire({
    //   icon: "success",
    //   title: "결제가 완료되었습니다&nbsp;&nbsp;<i class='far fa-smile'></i>",
    //   text: "<%# @order.item ? '충전한 포인트로 모어박스와 함께 영양 챙기세요!' : '이제 냉장고에서 꺼내 드세요!' %>",
    //   showConfirmButton: true,
    //   allowOutsideClick: false,
    //   confirmButtonText: '상품페이지로 돌아가기'
    // }).then((result) => {
    //   if (result.value) {
    //     window.location = "/items/list"
    //   }
    // });
  <% end %>
<% else %>
  Swal.fire({
    title: '<h3 style="color: #200e57;">결제를 실패하였습니다. 다시 한번 시도해주세요</h3>',
    icon: "error",
    showCancelButton: false,
    confirmButtonText: '확인',
    confirmButtonColor: "#200e57",
  })
<% end %>