<div class="modal-open-btn" data-target="#paymentModal" data-toggle="modal" style="display:none;"></div>
  
<div class="modal" data-close="100" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #0F4C81;" id="welcom-modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="paymentModalLabel">결제를 진행해주세요!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-white mt-4" id="welcom-modal-body">
        <span class="spinner-border spinner-border-xl mt-4 mb-2" role="status" style="width: 3rem; height: 3rem;" aria-hidden="true"></span> 
        <h1>회원님의 핸드폰으로 <br> 결제 문자가 전송되었습니다 :) <br> 결제를 진행해주세요.</h1> <br>

        <h4 class="mt-2">아이폰 유저들은 결제 완료 후 <br> 이전 창으로 돌아가십시오.</h4> <br>
        <h3 class="mt-3 text-red">결제가 완료되면 이 창은 자동으로 꺼집니다.</h3> <br>
            

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="welcom-button" data-dismiss="modal"  aria-label="Close">결제 취소</button>
        <!-- <span class="will-close text-white"><strong>n</strong>초 후에 자동 로그아웃 됩니다.</span>-->
      </div>
    </div>
  </div>
</div>

<script>
  function requestPay(item_id, gym_id, subitem_info) {
    $(".modal-open-btn").click();

    $.ajax({
      url: "/apis/pay_url",
      type: "POST",
      dataType: "json",
      beforeSend: function ( xhr ) {
        xhr.setRequestHeader( 'X-CSRF-Token', $( 'meta[name="csrf-token"]' ).attr( 'content' ));
      },
      data: {
        item_id: item_id,
        gym_id: gym_id,
        subitem_info: subitem_info,
      },
      success: function(data) {
        if(data.result == false){
          alert("정상적인 결제 요청이 아닙니다. 다시 시도해주세요.");
        } else {
          location.href = data.next_redirect_pc_url
        }
      }
    })
  }

</script>