<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="display: none;" id="modal-trigger">
  Launch demo modal
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: #0F4C81;" id="welcom-modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLabel">모어박스 회원가입을 축하드립니다:)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-white mt-5" id="welcom-modal-body">
        <p>먹는 것까지 운동인 거 아시죠?</p> <br>
        <p>간편하게 결제하고 <br> 2초 만에 영양까지 챙기세요</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" id="welcom-button">닫기</button>
      </div>
    </div>
  </div>
</div>