<style>
  .style-one {
    margin-top: 0.15rem;
    margin-bottom: 0.6rem;
    background-color: white;
    border: 1px solid;
  }
</style>

<div class="container">
  <!-- <img src="/protein_detail.jpeg" alt=""> -->
  <div class="row mb-5">
    <div class="col-6">
      <img src="<%= @item.image %>" style="width: 30%;">
    </div>
    <div class="col-4 mt-5">
      <p class="text-white"><%= @item.title %></p>
      <hr class="style-one">
      <p class="text-white"><%= number_with_delimiter(@item.price) %>원</p>
      <hr class="style-one">
      <p class="text-white">무료배송</p>
      <hr class="style-one">
      <p class="text-white">한진택배</p>
      <hr class="style-one">
    </div>
  </div>

  <h4 class="text-white mt-5 pt-4 mb-4">제품 상세설명</h4>
  <img src="<%= @item.image2 %>">

  <h4 class="text-white mt-5 pt-5 text-left">배송정보</h4>
  <table class="table table-bordered text-white mt-3">
    <tbody>
      <tr>
        <th>배송방법</th>
        <td>순차배송</td>
        <th rowspan="2">배송비</th>
        <td rowspan="2">
          무료배송<br>- 로켓배송 상품 중 19,800원 이상 구매 시 무료배송<br>- 도서산간 지역 추가비용 없음
        </td>
      </tr>
      <tr>
        <th>묶음배송 여부</th>
        <td>가능</td>
      </tr>
      <tr>
        <th>배송기간</th>
        <td colspan="3">
          <ul>
            <li class="prod-delivery-period-contents etc-pdd-info">
              <span>쿠팡맨 배송 지역 : 주문 및 결제 완료 후, 1-2일 이내 도착</span>
            </li>
            <li class="prod-delivery-period-contents">
              ㆍ쿠팡맨 미배송 지역 : 주문 및 결제 완료 후, 2-3일 이내 도착
              <p class="prod-delivery-period__notice">
                - 도서 산간 지역 등은 하루가 더 소요될 수 있습니다. 곧 고객님께도 쿠팡맨이 찾아갈 수 있도록 노력하겠습니다
              </p>
            </li>
            <li class="prod-delivery-period-contents">ㆍ천재지변, 물량 수급 변동 등 예외적인 사유 발생 시, 다소 지연될 수 있는 점 양해 부탁드립니다.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <h4 class="text-white mt-5 pt-5 text-left">교환/반품 안내</h4>
  <table class="table table-bordered text-white mt-3">
    <tbody>
    <tr>
      <th>교환/반품 비용</th>
      <td>
        5,000원<br>- 단, 고객 변심의 경우에만 발생<br>- 부분반품 시, 남은금액이 무료배송 조건을 유지하면 일부 반품비용이 부과
      </td>
    </tr>
    <tr>
      <th>교환/반품 신청 기준일</th>
      <td>
        <p>ㆍ단순변심에 의한 로켓배송 상품의 교환/반품은 제품 수령 후 30일 이내까지만 가능 (교환/반품비용 고객부담)</p>
        <p>ㆍ상품의 내용이 표시·광고의 내용과 다른 경우에는 상품을 수령한 날부터 3개월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터<br>
          <span class="prod-delivery-return-policy__limit-list__indent">30일 이내에 청약철회 가능</span>
        </p>
      </td>
    </tr>
    </tbody>
  </table>

  <h4 class="text-white mt-5 pt-5 text-left text-white">교환/반품 제한사항</h4>
  <p class="text-white text-left">
    - 고객님의 책임 있는 사유로 상품등이 멸실 또는 훼손된 경우. 단, 상품의 내용을 확인하기 위하여
      포장 등을 훼손한 경우는 제외 <br>
    - 포장을 개봉하였거나 포장이 훼손되어 상품가치가 상실된 경우
      (예 : 가전제품, 식품, 음반 등, 단 액정화면이 부착된 노트북, LCD모니터, 디지털 카메라 등의 불량화소에
      따른 반품/교환은 제조사 기준에 따릅니다.) <br>
    - 고객님의 사용 또는 일부 소비에 의하여 상품의 가치가 현저히 감소한 경우 단, 화장품등의 경우 시용제품을
      제공한 경우에 한 합니다. <br>
    - 시간의 경과에 의하여 재판매가 곤란할 정도로 상품등의 가치가 현저히 감소한 경우 <br>
    - 복제가 가능한 상품등의 포장을 훼손한 경우
      (자세한 내용은 고객만족센터 1:1 E-MAIL상담을 이용해 주시기 바랍니다.) <br>
    ※ 고객님의 마음이 바뀌어 교환, 반품을 하실 경우 상품반송 비용은 고객님께서 부담하셔야 합니다.
      (색상 교환, 사이즈 교환 등 포함)
  </p>

  <h4 class="text-white mt-5 pt-5 text-left text-white">판매자 정보</h4>

  <table class="table table-bordered text-white mt-3">
    <tbody>
      <tr>
        <th>
          <div>상호/대표자</div>
        </th>
        <td>DK영양클리닉 / 김소영</td>
        <th>
          <div>사업장 소재지</div>
        </th>
        <td>서울특별시 강남구 삼성로 151 (대치동, 선경아파트) 상가 지하층 13호</td>
      </tr>

      <tr>
        <th>
          <div>e-mail</div>
        </th>
        <td>dknc08@naver.com</td>
        <th>
          <div>연락처</div>
        </th>
        <td>02-556-3068</td>
      </tr>

      <tr>
        <th>
          <div>통신판매업 신고번호</div>
        </th>
        <td>2018-서울강남-01008호</td>
        <th>
          <div>사업자번호</div>
        </th>
        <td>142-08-83145</td>
      </tr>

      <tr>
        <th>
          <div>구매안전 서비스</div>
        </th>
        <td colspan="3">
          <p>02-006-00032 <a href="http://www.fcsc.kr/B/fu_b_06.jsp" class="service-join__btn" target="_blank">서비스 가입사실 확인 &gt;</a></p>

          <p class="escrow-policy">본 판매자는 고객님의 안전거래를 위해 관련 법률에 의거하여 쿠팡의 구매안전서비스를 적용하고 있습니다.</p>
        </td>
      </tr>
    </tbody>
  </table>



</div>
