<% sub_item ||= nil %>

<% if sub_item %>
  <div class="col-4">
    <h5 class="card-title main-text-color mb-1"><%= sub_item.title %></h5>
    <%= link_to "#", onclick: "$(this).next().find('#toggle_#{sub_item.id}').click();return false;" do %>
      <img class="card-img-top" src="<%= sub_item.image %>"/>
    <% end %>
  </div>
<% end %>