/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 /*
 *= require font-awesome
 */

 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import url(https://fonts.googleapis.com/css?family=Lato:300);
 @import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

  $red: #fd7473;
  $yellow: #fec951;
  $blue: #47b8e0;
  $purp: #9f68d0;

  body {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .new_modal_footer {
    border-top: none;
  }

  .wrapper {
    margin: 0 auto;
    width: 90%;
    margin-top: 15px;
  }

  .style-one {
    background-color: white;
    border: 1px solid;
  }

  .alert-shape {
    position: fixed;
    z-index: 700;
    top: 1rem;
    left: 1rem;
    border: 1px;
  }

  .alert-color {
    color: #200e57;
    background-color: white;
    border-color: #200e57;
  }

  #change-color {
    background-color: black;
  }

  #main-logo {
    width: 80%;
    margin-top: 30px;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .card_mobile {
      font-size: 15px;
    }
    #main-logo {
      margin-top: 0px;
    }
  }
