<div class="container mt-4 text-white">
  <h2>장바구니 목록</h2>
  <div class="row">
    <div id="cart" style="width: 100%;">
      <%= render "line_items/cart", order: @order %>
    </div>
  </div>
</div>
